<!DOCTYPE html>
<html>
<head>
  <title>Video Tags</title>
</head>
<body>
  <h1>Tags Belonging to Input Video</h1>
  <% if (results.length === 0) { %>
    <p>No results found.</p>
  <% } else { %>
    <table>
  <thead>
    <tr>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    <% results.forEach((result) => { %>
      <tr>
        <td><%= result.tagName %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
  <% } %>
</body>
</html>
